{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}



{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="example-wrapper">
    <h1>Hello ✅</h1>
    {{ form(form) }}
    <ul>
    {% for player in data %}
        {{ include('home/player.html.twig') }}
    {% endfor %}
    </ul>
</div>
<div class="button-pages">
    <ul>
    {% if page > 2 %}
        <a href="{{url}}1"><li class="page-button"> 1</li></a>
    {%endif %}
    {% if page > 1 %}
        <a href="{{url}}{{page-1}}"><li class="page-button"> {{page-1}}</li></a>
    {% endif %}
        <a href="{{url}}{{page}}"><li class="page-button"> {{page}}</li></a>
    {% if page < last_page %}
        <a href="{{url}}{{page+1}}"><li class="page-button"> {{page+1}}</li></a>
    {% endif %}
    {% if page < last_page - 1 %}
        <a href="{{url}}{{last_page}}"><li class="page-button"> {{last_page}}</li></a>
    {% endif %}
    </ul>
</div>
{% block javascript %}
    <script type="text/javascript" src="/assets/script.js"></script>
{% endblock %}
{% endblock %}
