<div class="player-basics">
    <p>
        {{player.getFirstName()}} {{player.getLastName()}}
    </p>
    {% if player.getHeightFeet() != null %}
    <p>
        Height : {{player.getHeightFeet()}}.{{player.getHeightInches}} ft
    </p>
    {% endif %}
    {% if player.getWeightPounds() != null %}
    <p>
        Height : {{player.getWeightPounds()}} lb
    </p>
    {% endif %}
    <p>
        Position : {{player.getPosition()}}
    </p>
    <p>
        team : {{player.getTeam().getName()}}
    </p>
    {%if button_player is not defined or button_player %}
    <p>
    <button id="{{player.getId()}}-button-add" onclick="writeCookieSelectionAdd({{ player.getId()}})"> Ajouter à la sélection</button>  
    <button id="{{player.getId()}}-button-remove" visibility="hidden" onclick="writeCookieSelectionRemove({{ player.getId()}})"> Retirer de la sélection</button>  
    </p>
    {% endif %}
    <hr/>
</div>
