#players-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#players-table td,
#players-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#players-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#players-table tr:hover {
    background-color: #ddd;
}

#players-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#logo-nba {
    height: 100px;
}

.button-menu a {
    text-decoration: none;
    color: blue;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

li.button-menu {
    list-style: none;
}