<table id="players-table">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Team </td>
        <td>Position</td>
        <td>Number of games played</td>
    </tr>
    {% for player in players %}
    <tr>
        <td>{{ player.getFirstName() }}</td>
        <td>{{ player.getLastName() }}</td>
        <td>{{ player.getTeam().getName() }}</td>
        <td>{{ player.getPosition() }}</td>
        <td>{{ player.getNbGame() }}</td>
    </tr>
    {% endfor %}
</table>