<header>
    <nav class="menu">
        <ul>
            <div class="button-div"><li class="button-menu"><a href="/"><img id="logo-nba" src="/img/logo.png"></a></li></div>
            <div class="button-div"><li class="button-menu"><a href="/comparaison">Comparaison</a></li></div>
            <div class="button-div"><li class="button-menu"><a href="/history">History of comparaison</a></li></div>
        </ul>
    </nav>
</header>