{% extends 'base.html.twig' %}

{% block title %}Hello HistoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% for comparaison in comparaisons %}
<h2>Comparaison {{ comparaison.getId }}</h2>
{{ include ("/comparaison/players-tab.html.twig", {"players":  comparaison.getPlayers}) }}
<a href="/comparaison/{{comparaison.getId}}">Voir la comparaison</a>
{% endfor %}
{% endblock %}
